// Colors Variables
$primary-color: #007bff;
$primary-hover-color: #153a62;
$success-color: #28a745;
$success-hover-color: #218838;
$danger-color: #dc3545;
$danger-hover-color: #c82333;
$title-color: #333;
$bg-color: wheat;

body {
    font-family: 'Poppins', sans-serif;
    background-color: $bg-color;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;

    h1 {
        color: $primary-hover-color;
    }
    h4 {
        color: #666;
    }

    table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;

        th, td {
            padding: 10px;
            border-bottom: 1px solid #ccc;
        }

        th {
            background-color: #f0f0f0;
            color: #333;
        }

        a {
            display: inline-block;
            padding: 8px 16px;
            margin: 5px;
            background-color: $primary-color;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $primary-hover-color;
            }
        }

        #dlt_btn {
            background-color: $danger-color;
            color: #fff;
            border-radius: 5px;
            padding: 8px 16px;
            margin: 5px;
            text-decoration: none;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $danger-hover-color;
            }
        }
    }

    input {
        padding: 10px;
        margin: 5px;
        border: solid 1px;
        border-radius: 5px;
    }

    #btn_add {
        background-color: $success-color;
        color: #fff;
        cursor: pointer;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $success-hover-color;
        }
    }
}
